<%= form_for([@group,@new_membership]) do |f| %>
  <% if @new_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @new_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>Add User:</label><br>
    <%= f.select :user_id, options_for_select(@users_array)%>
  </div>
  <%=f.hidden_field :approved, value: true%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
