<%= form_for([@group,@new_membership]) do |f| %>
  <% if @new_membership.errors.any? %>
    <div class='col s12'>
      <div class="alert">
        <p><%= pluralize(@new_membership.errors.count, "error") %> prohibited this group from being saved:
        </p>
      </div>
      <ul class="alert">
       <% @new_membership.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field col s9">

    <%= f.select :user_id, options_for_select(@users_array)%>
    <%=f.label :user_id, "Add User"%>
  </div>
  <%=f.hidden_field :approved, value: true%>
  <div class="actions col s3">
    <p><br><button class="btn waves-effect waves-light red" type="submit" name="action">
      <i class="material-icons">person_add</i>
    </button></p>
<% end %>
