<%unless !membership.approved && !@authorised_member %>
<!--Only shows non-approved members if current user is an approved member-->
  <tr>

    <td><%= image_tag membership.user.image.thumb.url %></td>
    <td><%= link_to membership.user.username, membership.user %></td>
    <% if @authorised_member && !membership.approved %>
      <td>
        <%= form_for([@group,membership]) do |f| %>
          <%=f.hidden_field :approved, value: true%>
          <div class="actions">
            <%= f.submit "approve",class:"btn btn-primary"%>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to "delete", [@group,membership], method: :delete,
        data: { confirm: "Kick #{membership.user.username} out?"}, class:"btn btn-danger" %>
      </td>
    <%else%>
      <td colspan="2"></td>
    <% end %>
  </tr>
<%end%>
