<%unless !membership.approved && !@authorised_member %>
<!--Only shows non-approved members if current user is an approved member-->
<div class="grid-item col s12 m6" id='member_<%=membership.id%>'>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "default#{membership.user.id%4}.jpg", class:'activator' %>
    </div>
    <div class="card-content">
      <span class="activator flow-text"><%= membership.user.username %><i class="material-icons right">more_vert</i></span>
      <p></p>
    </div>
    <div class='card-action'>
      <%= link_to "<i class='material-icons'>info</i>".html_safe, membership.user,
       data: {position:"bottom", delay:"50",tooltip:"View User"}, class:'tooltipped' %>
       <% if @authorised_member && !membership.approved %>
        <%= link_to "<i class='material-icons'>add</i>".html_safe, [@group,membership], method: :patch,
          data: {position:"bottom", delay:"50",tooltip:"Approve member"}, class:"tooltipped" %>
         <%= link_to "<i class='material-icons'>remove_circle</i>".html_safe, [@group,membership], method: :delete,
           data: { confirm: "Kick #{membership.user.username} out?",position:"bottom", delay:"50",tooltip:"Remove member"}, class:"tooltipped" %>
        <% end%>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= membership.user.username %><i class="material-icons right">close</i></span>
      <p><%=membership.user.description%></p>
    </div>
  </div>
</div>

<%end%>
