<% provide(:title, "Login") %>
<div class="row">
  <h1>Login</h1>
</div>

<div class="row">
  <div class="col s12 m9">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="input-field col s12">
        <%= f.text_field :username, class: 'form-control' %>
        <%= f.label :username %>
      </div>

      <div class="input-field col s12">
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password %>
      </div>

      <div class="input-field col s12">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me%>
      </div>

      <div class="actions col s12">
        <p><br><button class="btn-large waves-effect waves-light" type="submit" name="action">Login
          <i class="material-icons right">send</i>
        </button></p>
      </div>
    <% end %>
    <div class='col s12'>
      <p>New user? <%= link_to "Register Here", register_path %></p>
      <%= link_to "Or Sign in with Google", '/auth/google_oauth2', class: 'btn btn-default' %>
    </div>
  </div>
</div>
