
<%= form_for([@group,@category,@task]) do |f| %>
<% if @task.errors.any? %>
  <div class="col s12">
    <div class="alert">
      <p>The form contains <%= pluralize(@task.errors.count, "error") %>.</p>
    </div>
    <ul class='alert'>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="input-field col s12">
    <%= f.text_field :name%>
    <%= f.label :name %>
  </div>
  <div class="input-field col s12">
    <%= f.text_field :deadline, class:'datepicker', type: 'date'%>
    <%= f.label :deadline, class: 'active'%>
  </div>
  <div class="input-field col s12">
    <%= f.text_area :description , class: 'materialize-textarea'%>
    <%= f.label :description %>
  </div>
  <div class="input-field col s12">
    <%= f.check_box :done%>
    <%= f.label :done %>
  </div>
  <div id="assignment" class="col s12">
    <br>
    <p>Assigned to:</p>
    <table id="assign_list" class ="table">
      <tbody>
        <%=f.fields_for :task_assignments do |assign_form| %>
        <tr data-id="<%= assign_form.index %>">
          <td>
            <%= assign_form.select :membership_id, options_for_select(@memberships_array, assign_form.object.membership_id)%>
            <%= assign_form.hidden_field :_destroy%>
          </td>
          <td>
            <button type="button" class="assignremovebtn btn-floating btn-large red" data-preexisting="true" data-id="<%= assign_form.index %>"><i class='material-icons left'>remove</i></button>
          </td>
        </tr>
        <%end%>
        <div style='display: none' id='assign_select_template'>
            <%=options_for_select(@memberships_array)%>
        </div>
      </tbody>
    </table>
    <button type="button" class="assignaddbtn btn red"><i class='material-icons left'>add</i>Assignment</button>
  </div>
  <div class="actions col s12">
    <p><button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button></p>
  </div>
<% end %>
<script>

$(document).ready(function() {
  $('.datepicker').pickadate({
   selectMonths: true, // Creates a dropdown to control month
   selectYears: 21 // Creates a dropdown of 21 years to control year
 });
});
</script>
