<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Description</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.deadline %></td>
        <td><%= task.description %></td>
        <td><%= task.done %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<% @tasks.each do |task| %>
  <h3>Name</h3>
  <%= task.name %>

  <h3>Deadline</h3>
  <%= task.deadline %>

  <h3>Done</h3>
  <% if task.done %>
    <%= "Yes!" %>
  <% else %>
    <%= "Not yet!" %>
  <% end %>

  <h3>Actions</h3>
  <p>
    <%= link_to 'See More', task %> |
    <%= link_to 'Edit', edit_task_path(task) %> |
    <%= link_to 'Delete', task, method: :delete, 
      data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<p><%= link_to 'New Task', new_task_path %></p>
