<% provide(:title, "#{@task.name}") %>
<div class="row">
  <div class="col s12">
    <h1><%=@task.name%></h1>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <table class="table">
      <tbody>
        <tr>
          <th>Deadline</th>
          <td><%= @task.deadline %></td>
        </tr>
        <tr>
          <th>Done</th>
          <td>
            <% if @task.done %>
             <%= "Yes!" %>
           <% else %>
             <%= "Not yet!" %>
           <% end %>
         </td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @task.description %></td>
        </tr>
        <%first=true%>
        <%@task.task_assignments.each do |assign| %>
          <tr>
            <th>
              <%if first%>
                Assigned To
              <%first =false%>
              <%end%>
            </th>
            <td><div class="chip">
              <%= image_tag "default#{assign.membership.user.id%4}.jpg", class:'activator' %>
              <%= assign.membership.user.username %>
            </div></td>
          </tr>
        <%end %>
      </tbody>
     </table>
  </div>
</div>

<div class="row">
  <div class=" col s12">
    <%if @authorised_member %>
      <%= link_to "<i class='material-icons'>mode_edit</i>".html_safe, edit_group_category_task_path(@group,@category,@task),
        class: "btn waves-effect waves-light tooltipped", data: {position:"bottom", delay:"50",tooltip:"Update"}%>
      <%= link_to '<i class="material-icons">delete</i>'.html_safe, [@group,@category,@task], method: :delete,
        data: { confirm: 'Are you sure?',position:"bottom", delay:"50",tooltip:"Delete"}, class: "btn waves-effect waves-light tooltipped red"%>
    <%end%>
    <%= link_to '<i class="material-icons">list</i>'.html_safe, group_category_tasks_path(@group,@category),
      class: "btn waves-effect waves-light tooltipped",data: {position:"bottom", delay:"50",tooltip:"Return to list"} %>
  </div>
</div>
