<% provide(:title, "#{@task.name}") %>
<div class="row">
  <div class="col s12">
    <h1><%=@task.name%></h1>
  </div>
</div>
<div class="row">
  <div class="col s12 m9">
    <table class="table">
      <tbody>
        <tr>
          <th>Deadline</th>
          <td><%= @task.deadline %></td>
        </tr>
        <tr>
          <th>Done</th>
          <td>
            <% if @task.done %>
             <%= "Yes!" %>
           <% else %>
             <%= "Not yet!" %>
           <% end %>
         </td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @task.description %></td>
        </tr>
        <%first=true%>
        <%@task.task_assignments.each do |assign| %>
          <tr>
            <th>
              <%if first%>
                Assigned To
              <%first =false%>
              <%end%>
            </th>
            <td><%= assign.membership.user.username %></td>
          </tr>
        <%end %>
      </tbody>
     </table>
  </div>
</div>

<div class="row">
  <div class=" col s12">
    <div class="btn-group btn-group-justified">
      <%= link_to 'Edit', edit_group_category_task_path(@group,@category,@task), class: "btn btn-default" %>
      <%= link_to 'Back', group_category_tasks_path(@group,@category), class: "btn btn-default" %>
    </div>
  </div>
</div>
