<% provide(:title, 'Groups') %>
<div class="row">
  <div class ="col s12">
    <h1>Groups</h1>
  </div>
</div>
<div class="row">
  <div class='col s12'>
    <%= link_to '<i class="material-icons left">add</i>New Group'.html_safe, new_group_path , class: "btn waves-effect waves-light red"%>
  </div>
</div>
<div class="row">
  <div>
    <%=form_for(:search, url: groups_search_path(@group),remote: true,  html: {id: "groups_search_form" }) do |f|%>
      <div class='input-field col s12'>
        <%=f.text_field :input, class:'groups-search' %>
        <%=f.label :input, "Search"%>
      </div>
    <%end%>
  </div>
</div>
<div id ='groups_div'>
  <%= render 'cards'%>
</div>
