<% provide(:title, "Update " + @user.username) %>
<div class="row">
  <h1>User Settings for <%= @user.username %></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :description, 'About Myself' %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 
        "Confirm New Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :image, "Profile Picture" %>
      <%= f.file_field :image %>
      <% if f.object.image? %>
        <p>
          <%= image_tag f.object.image.thumb.url %>
        </p>
        <p>
          <%= f.label :remove_image %>
          <%= f.check_box :remove_image %>
        </p>
      <% end %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
