<% provide(:title, "Update " + @user.username) %>
<div class="row">
  <div class='col s12'>
    <h1>User Settings for <%= @user.username %></h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m9">
    <%= form_for(@user) do |f| %>
      <%=render 'shared/error_messages'%>
      <div class="input-field col s12">
      <%= f.label :description, 'About Myself' %>
      <%= f.text_area :description, class: 'materialize-textarea'%>
      </div>
      <div class="input-field col s12">
      <%= f.email_field :email, class: 'validate'%>
      <%= f.label :email%>
      </div>

      <div class="input-field col s12">
        <%= f.password_field :password%>
        <%= f.label :password, "New Password"%>
      </div>

      <div class="input-field col s12">
      <%= f.password_field :password_confirmation%>
      <%= f.label :password_confirmation, "Confirm New Password"%>
      </div>

      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Profile Picture</span>
          <%= f.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <!-- <%= f.label :image, "Profile Picture" %>
      <%= f.file_field :image %> -->
      <% if f.object.image? %>
        <div class='col s12'>
          <p class= 'center-align'>
            <%= image_tag f.object.image.thumb.url %>
          <br>
            <%= f.check_box :remove_image %>
            <%= f.label :remove_image %>
          </p>
        </div>
      <% end %>

      <div class="actions col s12">
        <p><button class="btn-large waves-effect waves-light" type="submit" name="action">Update
          <i class="material-icons right">send</i>
        </button></p>
      </div>

    <% end %>
  </div>
</div>

<div class = "row">
  <div class='col s12'>
    <h2>Manage Google Account</h2>
  </div>
  <div class='col s12 m9'>
    <!--Manage Google Account-->
    <%if @user.google_account%>
      <table class ='responsive-table'>
        <tr>
          <td><%=@user.google_account.gmail%></td>
          <td><button id='revoke-btn' class = 'btn waves-effect waves-light red tooltipped'
            data-position="bottom" data-delay="50" data-tooltip="Sign out from google">
            <i class='material-icons'>remove_circle</i></button>
          </td>
          <%if @revoked%>
            <td><button id='sign-in-btn'class = 'btn waves-effect waves-light tooltipped'
              data-position="bottom" data-delay="50" data-tooltip="Renew permissions">
              <i class='material-icons'>refresh</i></button></td>
          <%end%>
          </table>
        </tr>

    <%else%>
    <p>
      <button id='sign-in-btn' class='btn waves-effect waves-light'>Sign in with Google</button>
    </p>
    <%end%>
  </div>
</div>
<script>
$('#revoke-btn').click(function( event ) {
  event.preventDefault();
  window.location = "<%=to_revoke_user_path(@user)%>";
});
$('#sign-in-btn').click(function( event ) {
  event.preventDefault();
  window.location = "<%=to_authenticate_user_path(@user)%>";
});
</script>
