<% provide(:title, "#{@display.title && @display.title.length>0? @display.title : @category.name}") %>
<div class="row">
  <h1><%=@display.title && @display.title.length>0? @display.title : @category.name%></h1>
</div>

<% if @authorised_member%>
  <div class="fixed-action-btn">
    <%= link_to "<i class='material-icons'>settings</i>".html_safe,
      edit_group_category_display_path(@group,@category),
      class: 'btn-floating btn-large waves-effect waves-light'%>
  </div>
<%end%>


<div class="row">
  <div class='col s12'>
    <% if !@images || @images.empty? %>
      <p>
        No images loaded.
      </p>
    <% else %>
      <% if @display.display_type==1 %>
        <div class="slider">
          <ul class="slides">
            <% @images.each do |image| %>
                <li>
                  <% if image[:mime][0..4]== 'video' %>
                    <a href='<%=image[:view]%>' target="_blank"><%= image_tag image[:thumbnail], class:'responsive-img'%></a>
                  <% else %>
                    <%= image_tag image[:content], class:'responsive-img'%>
                  <% end %>
                </li>
            <% end %>
          </ul>
          </div>
      <% else %>
      <div class='col s12 display-grid'>
        <% @images.each do |image| %>
        <div class='grid-item'>
          <a href='<%=image[:view]%>' target="_blank"><%= image_tag image[:thumbnail], class:'display-image'%></a>
        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
