<%= form_for([@group, @category, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div class="col s12">
      <div class="alert">
        <p>The form contains <%= pluralize(@event.errors.count, "error") %>.</p>
      </div>
      <ul class='alert'>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.text_field :summary %>
    <%= f.label :summary %>
  </div>
  <div class="input-field col s12">
    <%= f.text_field :location %>
    <%= f.label :location %>
  </div>
  <div class="input-field col s12">
    <%= f.text_area :description, class: 'materialize-textarea' %>
    <%= f.label :description %>
  </div>
  <div>
    <div class="input-field col s12 m4">
      <%= f.text_field :start, class:'datepicker', type: 'date', value: "#{(@event.start && @event.start.to_time.in_time_zone(@calendar.time_zone).to_date )|| Time.now.in_time_zone(@calendar.time_zone).to_date}"%>
      <%= f.label :start, "Start Date",class: 'active'%>
    </div>
    <div class="input-field col s6 m4">
      <%=select_hour(@event.start && @event.start.to_time.in_time_zone(@calendar.time_zone),{ field_name: 'hour', prefix:'start'})%>
      <%=label :start, :hour, "hour"%>
    </div>
    <div class="input-field col s6 m4">
      <%=select_minute(@event.start && @event.start.to_time.in_time_zone(@calendar.time_zone),{ field_name: 'min', prefix:'start'})%>
      <%=label :start, :min, "minute"%>
    </div>
  </div>
  <div>
    <div class="input-field col s12 m4">
      <%= f.text_field :end, class:'datepicker', type: 'date',value: "#{(@event.end && @event.end.to_time.in_time_zone(@calendar.time_zone).to_date )|| Time.now.in_time_zone(@calendar.time_zone).to_date}"%>
      <%= f.label :end, "End Date",class: 'active'%>
    </div>
    <div class="input-field col s6 m4">
      <%=select_hour(@event.end && @event.end.to_time.in_time_zone(@calendar.time_zone),{ field_name: 'hour', prefix:'end'})%>
      <%=label :end, :hour, "hour"%>
    </div>
    <div class="input-field col s6 m4">
      <%=select_minute(@event.end && @event.end.to_time.in_time_zone(@calendar.time_zone),{ field_name: 'min', prefix:'end'})%>
      <%=label :end, :min, "minute"%>
    </div>
  </div>
  <div class="actions col s12">
    <p><button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button></p>
  </div>
<% end %>
