<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.calendar_id %></td>
        <td><%= event.summary %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= link_to 'Show', [@group,@category,event] %></td>
        <td><%= link_to 'Edit', edit_group_category_event_path(@group,@category,event) %></td>
        <td><%= link_to 'Destroy', [@group,@category,event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_group_category_event_path(@group,@category) %>
