<p id="notice"><%= notice %></p>

<p>
  <strong>Calendar:</strong>
  <%= @event.calendar_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.summary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= link_to 'Edit', edit_group_category_event_path(@group,@category,@event) %> |
<%= link_to 'Back', group_category_events_path(@group,@category) %>
