<%= form_for([@group,@category,@text_page], url: group_category_text_page_path(@group,@category)) do |f| %>
  <% if @text_page.errors.any? %>
    <div class="col s12">
      <div class="alert">
        <p>The form contains <%= pluralize(@text_page.errors.count, "error") %>.</p>
      </div>
      <ul class='alert'>
      <% @text_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.text_field :title%>
    <%= f.label :title %>
  </div>
  <div class="col s12">
    <label>Contents</label>
    <%= f.text_area :contents, class: 'wysiwyg'%>
  </div>
  <%if @google_token%>
      <div class="input-field col s12">
        <%= f.check_box :load_from_google %>
        <%= f.label :load_from_google, "Load from Google Doc" %>
      </div>
      <div class="col s12">
        <br>
        <p><button id='text-page-select-btn' class='btn waves-effect waves-light'>Google Docs</button>
        <%= f.text_field :file_id, class: 'file_id', style: 'display:none'%>
        <a id='name-display'<%if @file_link %> href="<%=@file_link%>" <%end%> >
          <%=@file_name||"No file selected."%>
        </a></p>
      </div>
    <%=f.hidden_field :google_account_id, class: 'google_id'%>
  <%else%>
    <div id='google-authenicate' class='col s12'>
      <br>
      <%=link_to 'Sign in and load from Google Docs',group_category_text_page_auth_path(@group,@category),class:'btn waves-effect waves-light'%>
    </div>
  <%end%>
  <div class="actions col s12">
    <p><br><button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button></p>
  </div>
<% end %>
<div id='task-form-info' data-key="<%=ENV.fetch('GOOGLE_API_KEY')%>"
  data-token='<%=@google_token%>' data-id='<%=@google_id%>'
  style='display:none'>
</div>
