<script type="text/javascript">
     // The Browser API key obtained from the Google Developers Console.
     var developerKey = "<%=ENV.fetch('GOOGLE_API_KEY')%>";

     // The Client ID obtained from the Google Developers Console. Replace with your own Client ID.
     var clientId = "<%=ENV.fetch('GOOGLE_API_CLIENT_ID')%>";

     // Use the API Loader script to load google.picker and gapi.auth.
     function onApiLoad() {
       gapi.load('picker');
     }

     // Create and render a Picker object for picking user Photos.
     function createPicker() {
       var picker = new google.picker.PickerBuilder().
           addView(google.picker.ViewId.DOCUMENTS).
           setOrigin(window.location.protocol + '//' + window.location.host).
           setOAuthToken('<%=@google_token%>').
           setDeveloperKey(developerKey).
           setCallback(pickerCallback).
           build();
       picker.setVisible(true);
     }

     // A simple callback implementation.
     function pickerCallback(data) {
       var file_id = '', file_name ='', file_url='';
       if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
         var doc = data[google.picker.Response.DOCUMENTS][0];
         file_id = doc[google.picker.Document.ID];
         file_name = doc[google.picker.Document.NAME];
         file_url = doc[google.picker.Document.URL]
       }
       document.getElementsByClassName('file_id')[0].value = file_id;
       document.getElementById('name-display').innerHTML = file_name;
       document.getElementById('name-display').href = file_url;
       document.getElementsByClassName('google_id')[0].value = '<%=@google_id%>';
     }
</script>
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>

<%= form_for([@group,@category,@text_page], url: group_category_text_page_path(@group,@category)) do |f| %>
  <% if @text_page.errors.any? %>
    <div class="col s12">
      <div class="alert">
        <p>The form contains <%= pluralize(@text_page.errors.count, "error") %>.</p>
      </div>
      <ul class='alert'>
      <% @text_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.text_field :title%>
    <%= f.label :title %>
  </div>
  <div class="col s12">
    <label>Contents</label>
    <%= f.text_area :contents, class: 'wysiwyg'%>
  </div>
  <%if @google_token%>
      <div class="input-field col s12">
        <%= f.check_box :load_from_google %>
        <%= f.label :load_from_google, "Load from Google Doc" %>
      </div>
      <div class="col s12">
        <br>
        <p><button id='select-btn' class='btn waves-effect waves-light'>Google Docs</button>
        <%= f.text_field :file_id, class: 'file_id', style: 'display:none'%>
        <a id='name-display'<%if @file_link %> href="<%=@file_link%>" <%end%> >
          <%=@file_name||"No file selected."%>
        </a></p>
      </div>
    <%=f.hidden_field :google_account_id, class: 'google_id'%>
  <%else%>
    <div id='google-authenicate' class='col s12'>
      <br>
      <button id='google-auth-btn' class='btn waves-effect waves-light'>Sign in and load from Google Docs</button>
    </div>
  <%end%>
  <div class="actions col s12">
    <p><br><button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button></p>
  </div>
<% end %>
<script>
  $('#select-btn').click(function( event ) {
    event.preventDefault();
    createPicker();
  });
  $('#google-auth-btn').click(function( event ) {
    event.preventDefault();
    window.location = "<%=group_category_text_page_auth_path(@group,@category)%>";
  });
  $(function() {
    $('.wysiwyg').froalaEditor()
  });
</script>
