<p id="notice"><%= notice %></p>

<h1>Listing Text Pages</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Contents</th>
      <th>Load from google</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_pages.each do |text_page| %>
      <tr>
        <td><%= text_page.category_id %></td>
        <td><%= text_page.title %></td>
        <td><%= text_page.contents %></td>
        <td><%= text_page.load_from_google %></td>
        <td><%= text_page.file_id %></td>
        <td><%= link_to 'Show', text_page %></td>
        <td><%= link_to 'Edit', edit_text_page_path(text_page) %></td>
        <td><%= link_to 'Destroy', text_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text page', new_text_page_path %>
