<div class="col-md-6 col-md-offset-3">
	<% if @contact.errors.any? %>
		<% @contact.errors.full_messages.each do | msg | %>
			<%= msg %>
		<% end %>
	<% end %>

	<%= form_for @contact do |f| %>
		<%= f.label :name %>
    <%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :number %>
		<%= f.text_field :number %>

		<%= f.label :website %>
		<%= f.text_field :website %>

		<%= f.label :organisation %>
		<%= f.text_field :organisation %>

		<%= f.label :position %>
		<%= f.text_field :position %>

		<%= f.label :description %>
		<%= f.text_field :description %>
		
		<%= f.submit %>
	<% end %>
</div>