<div class="col s12 m9">
	<% if @contact.errors.any? %>
    <div class="col s12">
      <div class="alert">
        <p>The form contains <%= pluralize(@contact.errors.count, "error") %>.</p>
      </div>
      <ul class='alert'>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<%= form_for [@group,@category,@contact] do |f| %>
    <div class='input-field col s12'>
      <%= f.text_field :name%>
      <%= f.label :name %>
    </div>
    <div class='input-field col s12'>
  		<%= f.email_field :email, class: 'validate' %>
      <%= f.label :email %>
    </div>
    <div class='input-field col s12'>
  		<%= f.text_field :phone %>
      <%= f.label :phone %>
    </div>
    <div class='input-field col s12'>
  		<%= f.text_field :website %>
      <%= f.label :website %>
    </div>
    <div class='input-field col s12'>
  		<%= f.text_field :organisation %>
      <%= f.label :organisation %>
    </div>
    <div class='input-field col s12'>
  		<%= f.text_field :position %>
      <%= f.label :position %>
    </div>
    <div class='input-field col s12'>
      <%= f.text_area :description, class: 'materialize-textarea' %>
  		<%= f.label :description %>
    </div>
    <div class="actions col s12">
      <p><button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button></p>
    </div>
	<% end %>
</div>
