<% provide(:title, 'Contacts') %>
<div class="row">
	<h1>Contacts</h1>
	<p>Please conduct data validation testing on the user and login system instead.</p>
</div>

<div class="row">
	<%= link_to "Create New Contact", { action: "new" } %>  
	<!--
	| <%= link_to "Download as CSV", contacts_path(format: "csv") %>
	-->
</div>

<% row = 0 %>

<% @contacts.each do |contact| %>

	<% if row % 2 == 0 %>
		<div class="row">
	<% end %>

	<div class="col-md-6 contact">
		<div class="contact-text">
			<ul class="contact-details">
				<li><%= contact.name %></li>

				<li><%= contact.organisation %></li>

				<li><%= contact.email %></li>
				<li><%= contact.phone %></li>
			</ul>

			<div class="text-center">
				<%= link_to "Read More", { action: "show", id: contact } %> | 
				<%= link_to "Update", { action: "edit", id: contact } %> | 
				<%= link_to "Delete", { action: "destroy", id: contact }, 
					method: :delete, data: { confirm: "Delete #{contact.name}?" } %>
			</div>
		</div>
	</div>

	<% if row % 2 == 1 %>
		</div>
	<% end %>

	<% row += 1 %>
<% end %>

<% if row % 2 == 1 %>
	</div>
<% end %>

<div class="row">
	<%= link_to "Create New Contact", { action: "new" } %> 
	<!--
	| <%= link_to "Download as CSV", contacts_path(format: "csv") %>
	-->
</div>
