<% provide(:title, "#{@calendar.name.length>0? @calendar.name : @category.name}") %>
<div class="row">
  <h1><%=@calendar.name.length>0? @calendar.name : @category.name%></h1>
</div>

<% if @authorised_member%>
  <div class="row">
    <div class = "col s12">
      <%= link_to '<i class="material-icons">settings</i>'.html_safe,edit_group_category_calendar_path(@group,@category),
        class: "btn waves-effect waves-light tooltipped", data:{position:"bottom", delay:"50",tooltip:"Settings"}  %>
    </div>
  </div>
<%end%>
<div class='row'>
  <div class='col s12'>
    <table style='table-layout:fixed'>
      <tr>
        <%wdays=['Sun','Mon','Tue','Wed','Thu','Fri','Sat']%>
        <%wdays.each do |day|%>
          <th><%=day%></th>
        <%end%>
      </tr>
      <%day=0%>
      <%while day<@days_in_month%>
        <tr>
          <%if @start>0%>
            <td colspan="<%=@start%>"></td>
          <%end%>
          <%left=7-@start%>
          <%@start=0%>
          <%while left>0 && day<@days_in_month%>
            <%day+=1%>
            <%left-=1%>
            <td style="vertical-align:top">
              <p><%=day%></p>
              <ul>
                <%@events[day-1].each do |evt|%>
                  <li><%=evt.summary%><br><%=evt.start.date_time.strftime('%R')%> to <%=evt.end.date_time.strftime('%R')%></li>
                <%end%>
              </ul>
            </td>
          <%end%>
          <%if left>0%>
            <td colspan="<%=left%>"></td>
          <%end%>
        </tr>
      <%end%>
    </table>
  </div>
</div>
