<%= form_for([@group,@category]) do |f| %>
  <% if @category.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= pluralize(@category.errors.count, "error") %> prohibited this group from being saved:</div>
      <ul class="list-group">
       <% @category.errors.full_messages.each do |message| %>
         <li class="list-group-item"><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name ,class:"form-control"%>
  </div>
  <div class="field">
    <label>Type</label><br>
    <%if @category.id%>
      <p><%=@type_no_array[@category.type_no][0]%></p>
    <%else%>
      <%= f.select :type_no, options_for_select(@type_no_array, @category.type_no)%>
    <%end%>
  </div>
  <div class="field">
    <label>Set to public</label><br>
    <%= f.check_box :is_public%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-default"%>
  </div>
<% end %>
