<div class="row">
  <h1>Categories</h1>
</div>
<div class='row right-align'>
  <div class="col m9">
    <%= link_to '<i class="material-icons">add</i>'.html_safe, new_group_category_path, class: "btn-floating btn-large waves-effect waves-light red" %>
  </div>
</div>
<div class="row">
  <div class="col m9">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Public</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, [@group,category] %></td>
            <td><%= @type_no_array[category.type_no][0] %></td>
            <td><%= category.is_public %></td>
            <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_group_category_path(@group,category)%></td>
            <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, [@group,category], method: :delete, data: { confirm: 'Are you sure?' }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
