<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Type No:</strong>
  <%= @category.type_no %>
</p>

<p>
  <strong>Group:</strong>
  <%= @category.group_id %>
</p>

<p>
  <strong>Public:</strong>
  <%= @category.public %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
