
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Type No:</strong>
  <%= @category.type_no %>
</p>

<p>
  <strong>Public:</strong>
  <%= @category.is_public %>
</p>

<%= link_to 'Edit', edit_group_category_path(@group,@category) %> |
<%= link_to 'Back', group_categories_path(@group) %>
