<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= full_title(yield(:title)) %>
  	</title>
    <%= stylesheet_link_tag 'application',
    		media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
    		'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <%= link_to 'KouhaiDash!', root_path %>
          </li>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <% if logged_in? %>
            <li>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Community", users_path %>
            </li>
            <% if current_group %>
              <%get_categories_and_path(current_group).each do |link| %>
              <li>
                <%= link_to link[:name], link[:path] %>
              </li>
              <%end%>
            <%end%>
            
            <li>
              <%= link_to "Settings", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: "delete" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", login_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %>">
                    <%= message %>
                  </div>
                <% end %>
              </div>
            </div>
            <%= yield %>
            <div class="row">
              <div class="col-lg-12 text-center">
                <a href="#menu-toggle" class="btn btn-default"
            id="menu-toggle">
                  <h4>Toggle Menu</h4>
                </a>
              </div>
            </div>
            <%= render 'layouts/footer' %>
            <% debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
