<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= full_title(yield(:title)) %>
  	</title>

    <meta name="viewport" content="width=device-width,
      initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Pacifico|Nosifer',media: 'all'%>
    <%= stylesheet_link_tag 'application',
    		media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
    		'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

  </head>
  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <%= link_to 'KouhaiDash!', root_path %>
          </li>
          <li>
            <a href="#menu-toggle" class="btn btn-default menu-toggle">
              <h4>Hide Sidebar</h4>
            </a>
          </li>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Groups", groups_path %>
          </li>
          <% if @group %>
            <%if @group.id && (@group.members_public || is_user_of_group?(@group)) %>
              <li>
                <%= link_to "Group Members", group_memberships_path(@group) %>
              </li>
            <%end%>
            <%get_categories_and_path(@group).each do |link| %>
              <li>
                <%= link_to link[:name], link[:path] %>
              </li>
            <%end%>
            <%if @group.id && is_user_of_group?(@group) %>
              <li>
                <%= link_to "Manage Categories", group_categories_path(@group) %>
              </li>
            <%end%>
          <%end%>
          <% if logged_in? %>
            <li>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Members", users_path %>
            </li>

            <li>
              <%= link_to "Calendar", calendar_path %>
            </li>
            <li>
              <%= link_to "Files", files_path %>
            </li>
            <li>
              <%= link_to "Contacts", contacts_path %>
            </li>
            <li>
              <%= link_to "Settings", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: "delete" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", login_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="container">
            <% if flash.keys.size > 0 %>
              <div class="row">
                <div class="col-lg-12">
                  <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>">
                      <%= message %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% else %>
            <% end %>
            <div class="overlay">
              <%= yield %>
            </div>
            <div class="overlay">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <a href="#menu-toggle" class="btn btn-default menu-toggle">
                    <h4>Toggle Sidebar</h4>
                  </a>
                </div>
              </div>
              <%= render 'layouts/footer' %>
              <% debug(params) if Rails.env.development? %>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
