<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= full_title(yield(:title)) %>
  	</title>

    <meta name="viewport" content="width=device-width,
      initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Pacifico|Nosifer',media: 'all'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons',media: 'all'%>
    <%= stylesheet_link_tag 'application',
    		media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
    		'data-turbolinks-track' => true %>
    <%=javascript_include_tag '//cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js',
    		'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

  </head>
  <body>

    <header>
      <!-- Sidebar -->
      <div class="navbar-fixed">
        <nav>
          <ul id='slide-out' class='side-nav fixed'>
            <li><%= link_to 'KouhaiDash!', root_path, id: 'brand'%></li>
            <li>
              <%= link_to "Groups", groups_path %>
            </li>
            <% if @group %>
              <%get_categories_and_path(@group).each do |link| %>
                <li>
                  <%= link_to link[:name], link[:path] %>
                </li>
              <%end%>
              <%if @group.id && (@group.members_public || is_user_of_group?(@group)) %>
                <li>
                  <%= link_to "Group Members", group_memberships_path(@group) %>
                </li>
              <%end%>
              <%if @group.id && is_user_of_group?(@group) %>
                <li>
                  <%= link_to "Manage Categories", group_categories_path(@group) %>
                </li>
              <%end%>
            <%end%>
            <% if (!@group || !@group.id) && logged_in? %>
              <li>
                <%= link_to "Profile", current_user %>
              </li>
              <li>
                <%= link_to "Members", users_path %>
              </li>

              <li>
                <%= link_to "Calendar", calendar_path %>
              </li>
              <li>
                <%= link_to "Files", files_path %>
              </li>
            <%end%>
            <%if logged_in?%>
              <li>
                <%= link_to "Settings", edit_user_path(current_user) %>
              </li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Login", login_path %>
              </li>
            <% end %>
          </ul>
          <ul class='left'>
              <li><a href="#" data-activates="slide-out" class="button-collapse" id='button-collapse'><i class="material-icons" id='menu-icon'>menu</i></a>
              </li>
              <li class='hide-on-large-only'><a id='page-title'>KouhaiDash!</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- main -->
    <main class="valign-wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <!-- /main -->

    <!--footer-->
    <%= render 'layouts/footer' %>
    <!-- /footer -->

      <!-- Menu Toggle Script -->
      <script>
        $(".button-collapse").sideNav();
        $("#page-title").click(function(){
          $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
        <% flash.each do |message_type, message| %>
          Materialize.toast('<%=message%>', 4000);
        <% end %>
        $('.tooltipped').tooltip({delay: 50})
      </script>
  </body>
</html>
